html,body {
  height: 100%;
  margin: 0;
  padding: 0;
}
a {
  color: #09f;
}
a:hover {
  text-decoration: none;
}
.fluid_container {
  bottom: 0;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
}
#camera_wrap_4 {
  bottom: 0;
  height: 100%;
  left: 0;
  margin-bottom: 0!important;

  right: 0;
  top: 0;
}
.camera_bar {
  z-index: 2;
}
.camera_overlayer {
  opacity: .1;
}

.caption {
	position: absolute;
	text-align: center;
	right: 0;
	left: 0;
	top: 50%;
	margin-top: 0px;
	font: 300 64px/40px 'Open Sans Condensed', sans-serif;
	color: #fff;
	right: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-o-box-sizing: border-box;
}

li h1 {
  color: red;
  font-size: 36px;
}

#myphoto {
  height: 290px;
  width: 400px;
  border-radius: 10px;
  margin-top: 8%;

}

#aboutme {
  background-color: rgb(183, 195, 198);
  height: 100%;
}

#skills {
  height: 100%;
  background-color: rgb(139, 149, 156);
}

#aboutMeText {
padding-top: 2%;
}

.aboutMeHeader {
  padding-top: 1%;
  padding-left: 30px;
}

#portfolio {
  height: 100%;
  background-color: rgb(107, 147, 164);
}

#contact {
  height: 100%;
  background-color: rgb(146, 236, 230);
}

#contactme {
  padding-top: 20%;
}
ul li h1 {
  color: rgba(143, 76, 76, 0.8);
  font-weight: normal;
  text-shadow: 1px 1px 2px #360000;
  font-size: 30px;
  letter-spacing: 2px;

}
